{% extends 'base/base.html' %}
{% block content %}


<h5>LOAD_add.HTML</h5>


<h1 style="text-align: center;">LOAD CREATE</h1>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div>{{ form.as_p }}</div>
    <br />
    <div class="w-full flex flex-auto">
        <button type="submit" class="btn btn-outline-info bg-red justify-center">NEW</button></div>
</form>


<h1 style="text-align: center;">LOAD LİST</h1>
{% for load in loads %}
<div style="color: blue;"><a href="detail/{{load.id}}">{{load}}</a> <a style="color: green;" href="update/{{load.id}}"> Update </a> <a style="color: red;" href="../delete/{{load.id}}">Delete</a> </div>
{% endfor %}

{% endblock %}